<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Hakkimizda.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div style="background-image: url(../../Content/img1.jpg); background-size: cover; " class="imgBox">

            </div>
            <div class="detaylar">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit vel excepturi, neque voluptas a veritatis, velit atque odit labore unde repellat doloribus quasi officia explicabo autem ratione magni distinctio.</p>
            </div>
        </div>
        <div class="card">
            <div style="background-image: url(../../Content/img2.jpg); background-size: cover; " class="imgBox">
            </div>
            <div class="detaylar">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit vel excepturi, neque voluptas a veritatis, velit atque odit labore unde repellat doloribus quasi officia explicabo autem ratione magni distinctio.</p>
            </div>
        </div>
        <div class="card">
            <div style="background-image: url(../../Content/img3.jpg); background-size: cover;" class="imgBox">
            </div>
            <div class="detaylar">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit vel excepturi, neque voluptas a veritatis, velit atque odit labore unde repellat doloribus quasi officia explicabo autem ratione magni distinctio.</p>
            </div>
        </div>
    </div>

</body>
</html>