<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/datepickk.min.css">
    <link rel="stylesheet" href="~/Content/Rezervasyon.css">

</head>
<body>

    <div class="header">

        <div id="datepicker"></div>

    </div>

    <div class="container">

    </div>






    <script src="~/Content/datepickk.min.js"></script>
    <script>
        var highlight = {
            start: new Date(2021,12,23),
            end: new Date(2015,12,24),
            backgroundColor: '#3faa56',
            color: '#ffffff',
            legend:'CSS Conf.'
        };
        var highlight2 = {
            dates: [
                {
                    start: new Date(2021,12,31),
                    end: new Date(2022,01,01),

                }

            ],
            backgroundColor: '#e99c00',
            color:'#ffffff',
            legend: 'Bakırçay'
        };

            var datepicker = new Datepickk({
                container: document.querySelector('#datepicker'),
                inline: true,
                range: true,
                highlight: [highlight,highlight2]
            });
            datepicker.setDate = new Date(2021,12,25);
    </script>
</body>

</html>